on:
  workflow_call:
    secrets:
      CODECOV_TOKEN:
        required: true
jobs:
  test_rspec:
    name: Test app (RSpec)
    runs-on: ubuntu-latest
    if: "!startsWith(github.head_ref, 'chore/l10n')"
    timeout-minutes: 60
    env:
      CI: "true"
      CODECOV: "true" # legacy
      SIMPLECOV: "true"
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: postgres
      DATABASE_HOST: localhost
      RUBYOPT: '-W:no-deprecated'
      DISABLE_SPRING: "true"
    services:
      postgres:
        image: postgres:14
        ports: ["5432:5432"]
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        env:
          POSTGRES_PASSWORD: postgres
    steps:
      - uses: mainio/gha-decidim-module/test-rspec@main
        with:
          codecov-token: ${{ secrets.CODECOV_TOKEN }}
